html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
  padding-left: 85px;
}

nav li {
    position: relative;
    display: inline-block;
    margin-top: 15px;
    padding-top: 10px;
    margin-left: 20px;
}

nav a {
    display: block;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

nav::after {
  content: '';
  display: block;
  height: 5px;
  width: 85%;
  background-color: #F0F0F0;
  margin-top: -5px;
  margin-left: 105px;
}

nav li a:hover {
    color: #0299FC;
}
.active {
  color: gray;
}

nav a::after {
  content: '';
  display: block;
  height: 5px;
  margin-top: 10px;
  width: auto;
  background-color: #F0F0F0;
}

nav a:hover::after {
  background-color: #0299FC;
  transition: all ease-in-out 500ms;
}

.header {
  background: #2e2e2e;
  text-align: left;
  color: #8c8c8c;
  padding-left: 7%;
  height: 50px;
}



.active::after {
  background-color: #0299FC;
}

.icons {
  float: right;
  padding-right: 10%;
}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 15px;
  height: 15px;
  text-align: center;
  text-decoration: none;
  margin-top: 8px;
}

.fa-linkedin {
  background: gray;
  color: white;
  border-radius: 100%;
  margin-right: 10px;
}
.fa-linkedin:hover {
  background: #007bb5;
}
.fa-twitter {
  background: gray;
  color: white;
  border-radius: 100%;
  margin-right: 10px;
}
.fa-twitter:hover {
  background: #55ACEE;
}

.fa-pinterest {
  background: gray;
  color: white;
  border-radius: 100%;
  margin-right: 10px;
}
.fa-pinterest:hover {
  background: #cb2027;
}

.fa-google {
  background: gray;
  color: white;
  border-radius: 100%;
  margin-right: 10px;
}
.fa-google:hover {
  background: #dd4b39;
}

.fa-rss {
  background: gray;
  color: white;
  border-radius: 100%;
  margin-right: 10px;
}
.fa-rss:hover {
  background: #ff6600;
}
*{
  margin:0px;
  padding:0px;
}
.clr{
  clear:both;
}
a{
    text-decoration:none;
    outline:none;
}
a img{
    border:none;
}
.card
{
    box-shadow: 0 20px 25px 0 rgba(0, 0, 0, 0.733);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}
.profesional_title
{
    color: grey;
    font-size: 20px;
}
.card button
{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color:#0099ff;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
.card a
{
    text-decoration: none;
    font-size: 22px;
    color: black;
}
.card button:hover, a:hover
{
    opacity: 0.7;
}
table
{
border-color: #E8E8E8;
width:100%;
background: #F1F1F1;
}
.flip-card {
  background-color: transparent;
  width: 100%;
  height: 190px;
  perspective: 1000px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 190px;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.flip-card-front {
  background-color: #bbb;
  color: black;
  z-index: 2;
}
.flip-card-back {
  background-color:#0099ff;
  transform: rotateY(180deg);
  z-index: 1;
}
p,h2,h3
{
  font-family: "Noto+Serif";
  color:#404040;
}
.text_box
{
margin-left:35px;
padding-left: 65px;
margin-right:35px;
padding-right: 65px;
}
*{
  margin:0px;
  padding:0px;
}
.clr{
  clear:both;
}
footer{
  font-family:"open Sans";
  width:100%;
  box-sizing:border-box;
}
a{
  text-decoration: :none;
  outline:none;
}
a img{
  border:none;
}
.clr{
  clear:both;
}
.footer-main{
  width:100%;
  height:auto;
  margin:auto;
  background-color:#1A1A1A;
  padding:30px 20px;
  box-sizing:border-box;

}
.footer-inner{
  width:1400px;
  height:auto;
  margin:auto;

}
.footer-left{
  width:300px;
  height:auto;
  float:left;
  margin-right:30px;
  margin-left:25px;
}
.footer-box{
  width:100%;
  height:auto;
  margin:auto;
  margin-bottom:30px;
}
.footer-box h6{
  font-family:"open Sans";
  font-size:15px;
  color:#fff;
  text-align:left;
  margin-bottom:15px;
  font-weight:bold;
  text-transform:uppercase;
}
.footer-box p{
  font-family:"open Sans";
  font-size:15px;
  color:#333333;
  text-align:left;
  margin:0px;
}
.footer-box img{

  margin-bottom:20px;
  margin-top:20px;
}
.footer-box a{
  font-family: "open Sans";
  font-size:14px;
  color:#028FEC;
  text-decoration: none;
  padding-top: 8px;
  padding-bottom: 8px;
}
.footer-box a:hover{

  text-decoration: none;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #ffffff;
}

.footer-box ul{
  margin-top:3px;
}
.footer-box ul li{
  list-style-type:none;
  margin-top:5px;
}
.footer-box ul li a{
  font-family: "open Sans";
  font-size:17px;
  color:#0098FE;
}
.footer-box ul li a:hover{
  font-family: "open Sans";
  font-size:17px;
  color:#ffffff;
}
.footer-box form{
  margin-right:20px;
}
.footer-box form input{
  padding:9px;
  font-size:inherit;
}
.footer-box form input[type="text"]{
  display:block;
  margin-bottom:14px;
  width:100%;
  background-color:#232323;
  border: 2px ;
  border-radius:10px;
  color: white;
}
.footer-box form input[type="submit"]{
  margin-top:8px;
  border-radius:10px;
  border-color:transparent;
  background-color:#0098FE;
  color: white;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.footer-box form input[type="submit"]:hover {
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  -o-transition: .5s all;
  -ms-transition: .5s all;
  transition: .5s all;
  background: #1975ff;
}
.footer-box form textarea{
  padding:9px;
  font-size:inherit;
  font-family: "open Sans";
  width:100%;
  background-color:#232323;
  border: 2px ;
  border-radius:10px;
  color:white;
}
.footer-box form input::placeholder{
  color:#8D8D8D;
  font-size:13px;
}
