ul {
  list-style-type: none;
  margin: 0;
  padding: 5;
}
li {
    display: inline;
}

a {
    display: block;
    padding: 8px;
}
li a:hover {
  background-color: blue;
}
.active {
  color: gray;
}
