ul {
  list-style-type: none;
  margin: 0;
  padding: 5;
}

nav li {
    position: relative;
    display: inline-block;
    margin-left: 4%;
    margin-right: 4%;
}

nav a {
    display: block;
    padding: 8px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}
nav li a:hover {
    color: #0040ff;
}
.active {
  color: gray;
}

nav a::after {
  content: '';
  display: block;
  height: 5px;
  margin-top: 10px;
  width: 100%;
  background-color: #BFD2CD;
}

nav a:hover::after {
  background-color: #0040ff;
  transition: all ease-in-out 500ms;
}
